<table class="table table-bordered">
    <div>
        <button type="button" class="btn btn-lg btn-block btn-primary {% if request.endpoint == 'account_info' %}active{% endif %}">
            <a href="{{ url_for('account_info') }}" style="color:antiquewhite">詳細資料</a>
    </div>
    <br>

    <div>

        <tr>
            <thead>
            <th scope="col">下單時間</th>
            <!--<th>持倉ID</th>-->
            <th scope="col">交易對</th>
            <th scope="col">方向</th>
            <th scope="col">倉位類別</th>
            <th scope="col">槓桿</th>
            <th scope="col"></th>
            <th scope="col">本訂單幣數</th> 
            <th scope="col">當時成交均價</th>
            <th scope="col">現時標記價格</th> 
            <th scope="col">預計強平價 </th>
            <th scope="col"></th>
            <th scope="col">未實現盈虧 (美金)</th>
            <th scope="col">未實現盈虧 對 本單本金 %</th>
            <th scope="col"></th>
            <th scope="col">維持保證金 (美金)</th>
            <th scope="col">使用資金 (美金)</th>
            <th scope="col">使用資金 對 戶口本金 %</th>
            <th scope="col"></th>
            


            <th> scope="col"未實現盈虧 對 戶口本金 %</th>

            

            <!--<th>抵押</th>-->
           
            <!--<th>保證金餘額</th>-->

            <!--<<th>開始時的保証金百分比</th>-->


            <th scope="col"></th>
            </thead>
        </tr>
    
        {% for position in my_trades %}
        <tr>
            <tbody>
                <th>{{ position.datetime_string }}</th>
                <!--<th>{{ position.position_id }}</th>-->
                <th>{{ position.symbol }}</th>
                <th>{{ position.direction }}</th>
                <th>{{ position.margin_mode }}</th>
                <th>{{ position.leverage }}</th>
                <th></th>


                <th>{{ position.total_coins_purchased }}</th>
                <th>{{ position.avg_price_r }}</th>
                <th>{{ position.mark_price_r }}</th>
                <th>{{ position.estimated_liquidation_price_r }}</th>
                <th></th>

                <th>{{ position.unrealized_profit_and_loss_r }}</th>
                <th>{{ position.pnl_percentage }} %</th>
                <th></th>

                <th>{{ position.maintenance_margin_requirement_r }}</th>
                <th>{{ position.margin_r }}</th>
                <th>{{ position.used_fund_percentage }} %</th>
                <th></th>



                <th>{{ position.this_pos_to_acc_percentage }} %</th>

                <!--<th>{{ position.collateral_r }}</th>-->
            
                <!--<th>{{ position.margin_r }}</th>-->

                <!--<<th>{{ position.initial_margin_percentage_r }}</th>-->


                <th><form method="post" action="/my_account"><input type="button" name="action" value= "1">平倉</button></form></th>
            </tbody>
        </tr>
        {% endfor %}
    </div>
    
    
    </table>